@charset "utf-8";
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, code, del, 
dfn, em, img, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, 
td, hr{margin:0;padding:0;font-size:100%;box-sizing: border-box;}
body{height:100%;min-height:100%;font-family:'Noto Sans Korean','Malgun Gothic','맑은고딕','돋움',dotum, sans-serif;font-size:16px;color:#737373;line-height:1.5;}
h1, h2, h3, h4, h5, h6 {font-weight:normal; font-size:0;}
ol, ul, li {list-style:none}
table {width:100%; border-collapse:collapse;border-spacing:0}
form, fieldset, iframe {display:block;border:0}
img, button {border:0 none;vertical-align:top;}
hr {height:0; display:none}
i, em, address{font-style:normal}
label, button{cursor:pointer}
blockquote, q {quotes:none}
caption, legend {visibility:hidden;position:absolute;width:0;height:0;padding:0;margin:0;font-size:0;text-indent:-100%;white-space:nowrap;z-index:-1}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block;box-sizing: border-box;}
input, textarea, select, button {outline:none; font-family:'Noto Sans Korean','Malgun Gothic','맑은고딕','돋움',dotum, sans-serif;font-size:16px;color:#919090;line-height:1.5;letter-spacing:0;vertical-align:middle; border:none;}
input, textarea {margin:0;padding:0;  background:none; box-sizing:border-box;}
textarea {resize:none}
a {color:#919090;text-decoration:none}
a:link, a:visited {text-decoration:none}
a:hover {text-decoration:none}
html,body{height:100%;}
#wrap{width:100%; height:100%; padding-top:130px;}
/*header*/
header{width:100%; height:100%; top:0; background:white; position:fixed; z-index:900;}
#tit{width:20%; height:80px; position:relative;}
#tit .titicon{width:300px; height:100%; position:absolute; transition:.8s;}
#tit .titicon:nth-child(1){background:url(../images/title1.jpg)no-repeat center; left:-10px;}
#tit .titicon:nth-child(2){background:url(../images/title2.jpg)no-repeat center; left:4px; top:0;}
#tit .titicon:nth-child(3){background:url(../images/title3.jpg)no-repeat center; left:-18px; top:10px;}
#tit .titicon:nth-child(4){background:url(../images/title4.jpg)no-repeat center; left:34px;top:-4px;}
#tit .titicon:nth-child(5){background:url(../images/title5.jpg)no-repeat center; left:12px;top:14px;}
#tit .titicon:nth-child(6){background:url(../images/title6.jpg)no-repeat center; left:58px;top:-2px;}
#tit .titicon:nth-child(7){background:url(../images/title7.jpg)no-repeat center; left:108px;top:-12px;}
#tit .titicon:nth-child(n){ background-size:80%;}
#tit:hover .titicon{left:0;top:0; transform:rotate(0deg); cursor:pointer;}

#container{width:100%; height:100%; position:relative;}
#container .content{width:33.3%; height:100%; position:absolute;}
#container a{color:#737373;}

.pink{background:pink;}
#conhomepage{left:0%;}
#conmy_introduction{left:33.3%;}
#congold{left:66.6%;}
#container .content .menutit{width:70%; height:200px; position:relative; top:30%; left:50%; transform:translateX(-50%); text-align:center; transition:.6s;}
#container .content .menutit > *{transition:.6s;}
#container .content .menutit p{width:100%; height:200px; z-index:11; position:absolute; line-height:200px;font-size:25px;}
#container .content .menutit ul{width:100%; overflow:hidden; border-radius:0 0 30px 30px; height:0; top:-100px;  opacity:0; margin-top:80px; position:absolute;}
#container .content .menutit ul li{width:100%; height:50px; line-height:50px; }
#container .content .menutit ul li:hover{cursor:pointer;}
#container .content .menutit ul li:last-child{border-radius:0 0 30px 30px;}
#container .content .menutit.on{width:76%; height:70%; line-height:80px;}
#container .content .menutit.on p{height:80px;  line-height:80px; border-bottom:3px solid; border-radius: 30px 30px 0 0;}
#container .content .menutit.on ul{width:100%; top:0; height:auto; opacity:1;}

/*메뉴 선택 후 동작*/
#container.nav{background:white; height:50px;}
#container.nav .content .menutit{height:100%; width:44%; top:0;}
#container.nav .content .menutit p{font-size:15px;top:0;line-height:50px;border:0; height:50px; margin-top:0;}
#container.nav .content .menutit ul{margin-top:50px;top:0; overflow:hidden;  background:rgba(255,255,255,0.5);}
#container.nav .content .menutit ul li{height:27px;padding:5px 0 5px 0; line-height:20px;color:black;}
#container.nav .content .menutit.on{line-height:50px;  width:70%;}
#container.nav .content .menutit.on p{height:50px; border-radius:0;  line-height:50px;}
#container.nav .content .menutit.on ul{border-radius:0;}
#container.nav .content .menutit.on ul li{border-radius:0;}
#homepage > p{background:#FAF4C0;}
#homepage:hover > p{background:#FFA7A7;}
#homepage ul li:hover{background:#FFD8D8;}
#my_introduction > p{background:#E8E2AE;}
#my_introduction:hover > p{background:#CEF279;}
#my_introduction ul li:hover{background:#E4F7BA;}
#gold > p{background:#D6D09C;}
#gold:hover > p{background:#B2CCFF;}
#gold ul li:hover{background:#D9E5FF;}

.section_css{display:none; width:100%; position:absolute; top:0; transition:1.2s;}



/*home.html*/
#home{width:80%; margin:0 auto; position:relative; padding-top:10px;}
#home .hometit{height:180px;}
#home .hometit p{line-height:180px; color:black; font-weight:bold; font-size:200%; text-align:center;}
#home .strphoto{width:28%; float:left; height:auto; margin:2%;}
#home .explanation{display:inline-block; padding:0 10% 10% 10%;font-size:18px; text-align:30px;}
#home1{background:url(../images/home/hometit1.jpg) no-repeat center center; background-size:cover; }
#home2{background:url(../images/home/hometit2.jpg) no-repeat center center; background-size:cover; }
#home3{background:url(../images/home/hometit3.jpg) no-repeat center center; background-size:cover; }
#menu1_section > a{position:absolute; top:0;}

/*상세메뉴 이교윤 소개*/
#myProfile{width:600px;height:300px;
			position:relative; 
			padding:30px; margin:0 auto;
			border-radius:30px;
			background:pink;}
#myProfile .myphoto{width:40%;
					position:absolute;}
#myProfile .myphoto img{width:100%; height:auto; }
#myProfile .profileText{width:40%;
						position:absolute;
						left:50%;
						line-height:36px; font-size:18px;}
.photolist{background:white; position:relative; margin:0 auto; width:40%; min-width:200px; height:60px;  margin-bottom:20px; padding:20px;  overflow:hidden; }
.photolist p, .sky{cursor:pointer; transition:.6s;}
.photolist .skynum{ height:20px; position:absolute;top:0;left:50%;transform: translate(-50%);}
.photolist .skynum p{font-size:11px; width:20px; height:100%; float:left;}
.photolist .skynum p.on{font-weight:bold; color:red;}
.photolist .sky {width:0;  position:absolute;height:45px; padding:10px 0; top:20px; left:0;}
.sky.on{width:100%;}
.sky li{ width:20%; overflow:hidden;height:100%; float:left;}
.sky li img{width:25px; height:25px; display:block; margin:auto;}
#photoView{width:40%; min-width:200px;height: 0; margin:0 auto; padding:2% 2% 8% 2% ; background:white; opacity:0;transition:.4s;}
#photoView img{width:100%;}
/*단지 프로필*/
.profile{ width:80%; margin:0 auto; min-width:220px;
	position:relative; top: 26px;
	background: rgb(192,210,234); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(192,210,234,1) 10%, rgba(156,171,45,1) 40%, rgba(217,25,25,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(192,210,234,1) 10%,rgba(156,171,45,1) 40%,rgba(217,25,25,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(192,210,234,1) 10%,rgba(156,171,45,1) 40%,rgba(217,25,25,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0d2ea', endColorstr='#d91919',GradientType=0 ); /* IE6-9 */}
.profile .main_pho,.profile .p_text{float:left;}
.profile .main_pho{width:80%; min-width:220px; margin-right:15px;}
.profile .p_text{ padding:2%; color:rgb(72,67,65);}
.profile .p_text a{font-size:0;}
.profile .p_text a:hover{font-size:14px;}
.profile .p_text img{width:30px;height:auto; }
.profile .p_text p{background:rgba(255,255,255,0.2);margin:4px; font-weight:bold; line-height: 2;}
		/*앨범*/
#albumicon{width:100px; height:100px; position:relative; top:22px; background:url('../images/album.jpg') no-repeat center center; left:50%; transform:translate(-50%); color:red; font-size:0;}
#albumicon:hover{font-size:20px; text-align:center; cursor:pointer;}
#down{font-size:0; margin-top:15px; margin-bottom:15px;  position:relative; height:30px; background:url('../images/down.jpg')no-repeat center center;background-size:50px; left:50%; transform:translate(-50%);}
#down:hover{cursor:pointer;}
#album{text-align:center; width:80%; margin:0 auto;}
#album .photo{ background:rgb(255,255,255);width:25%; float:left; padding-top:16px; padding-bottom:13px;}
#album .photo img{width:80%; height:auto;}
#album .photo img:hover{opacity: 0.7; cursor:pointer;}

		/*사진 확대시*/
#inphoto{width:100%; height:100%; position:fixed;top:0px;  left:0; z-index:990; background:rgba(0,0,0,0.9); overflow:hidden;}
#inphoto img{width:80%; max-width:700px; height:auto; display:block; position:absolute; left:0; right:0; top:0; bottom:0; margin:auto;}
#inphoto .show1{position:absolute; right:80%; top:50%; transform:translate(0,-50%); width:30%; height:45%;}
#inphoto .show1.leftbt{ background:url('../images/leftbt.jpg') no-repeat center center;background-size:25%; }
#inphoto .show2{position:absolute; left:80%; top:50%; transform:translate(0,-50%); width:30%; height:45%;}
#inphoto .show2.rightbt{ background:url('../images/rightbt.jpg') no-repeat center center;background-size:25%;}


@keyframes leftBt {
	  from {left:-100%;} 
	  to {left:0;}
	}
@keyframes rightBt {
	  from {right:-100%;} 
	  to {right:0;}
	}
	#gongbox{position:fixed; top:130px;left:0; transition: top 0.3s; width:100%; text-align:center;background:rgba(209, 232, 174,0.9); transition:1.2s;z-index:99;}
		#gongbox a {		
		  color: #737373;
		  padding: 15px;
		  text-decoration: none;
		  font-size: 15px;
		  line-height:2.5;

		}
		#gongbox a.on {
		  color: #E2AEE8;
		}
		
		.gongSubPage{ width:0; height:100%; margin:0; padding:0; transition:0.8s; position:absolute; top:0; left:0; opacity:0; overflow:hidden;}
		.gongSubPage h2{font-size; position:absolute; top:0;}
		.gongSubPage.on{width:100%; opacity:1; overflow: visible;}
		 
	/*gongmo*/
		#gongmo{padding-top:0px;}
		
		#gongmo .fullsection{width:100%;height:100%; margin:0; position:relative;}

		#gongmo .fullsection div{width:100%; height:100%; filter: grayscale(100%);}
		#gongmo .fullsection p{opacity:0; font-size:20px; padding:5% 10%; color:gray; line-height:2;}
		#gongmo .fullsection span{display:block; font-weight:bold; font-size:23px; color:black; line-height:2.5;}
		#gongmo .fullsection.on div{height:50%; transition:1.2s;transition-delay:1.2s;  filter: grayscale(0%);}
		#gongmo .fullsection.on p{opacity:1;transition:1.2s;transition-delay:1.8s;}
		#gongmo .fullsection.gong1{background-color:rgb(157,193,148);}
		#gongmo .fullsection.gong2{background-color:rgb(166,214,087);}
		#gongmo .fullsection.gong3{background-color:rgb(230,216,079);}
		#gongmo .fullsection.gong1 div{background:url(../images/gong/gong1.jpg) no-repeat center;background-color:rgb(157,193,148); background-size:100%;}
		#gongmo .fullsection.gong2 div{background:url(../images/gong/gong2.jpg) no-repeat center; background-size:100%;}
		#gongmo .fullsection.gong3 div{background:url(../images/gong/gong3.jpg) no-repeat center; background-size:100%;}
	/*emo*/
		#emo .emotext{position:relative; padding:15px; width:80%; left:50%; transform:translateX(-50%); margin:10px; background:rgb(219,199,223); line-height:3; font-size:16px;}
		#emoghost{width:60%; margin:0 auto; height:800px; position:relative;}
		#emoghost .ghostdeco{position:absolute; width:100%; height:350px; background:white; bottom:0; border:1px solid gray;}
		#emoghost .ghostdeco:after{content:""; position:absolute; width:100%; height:350px; background:url(../images/gong-imo-deco.jpg) no-repeat center; background-size: 100% 100%; margin:0; z-index:90;}
		#emoghost .emoExpense{ width:95%; height:99%; position:absolute; background:yellow; top:0; left:50%; transform:translateX(-50%);z-index: 80; overflow:hidden;}
		#emoghost .emoExpense.on{z-index:999; width:45%; height:97.5%; position:fixed; margin:10px; overflow:auto;}
		#emo .fullpage{width:100%; height:100%; position:fixed;top:0px;  left:0; z-index:990; background:rgba(0,0,0,0.7); display:none;}
		.fullpage .expansion,.fullpage .collapse{width:30px; height:30px;  position:absolute; left:20px;}
		.fullpage .expansion{background:url(../images/gong/expansion.jpg)no-repeat center; top:20px; background-size:100%;}
		.fullpage .expansion.on{background:url(../images/gong/expansion_gray.jpg)no-repeat center; background-size:100%;}
		.fullpage .collapse{background:url(../images/gong/collapse.jpg)no-repeat center; top:60px;background-size:100%;}
		.fullpage .collapse.on{background:url(../images/gong/collapse_gray.jpg)no-repeat center; background-size:100%;}
		#emo .fullpage .close a{width:100%; height:100%;position:absolute;}
		#emoghost .emoExpense #ghostTit{width:100%; height:100%; position:relative; top:0;}
		#ghostTit h4{text-align:center; font-size:30px; line-height:12;background:url(../images/gong/hi.jpg) no-repeat left center; background-size:50%;}
		#ghostTit p{display:block; position:absolute; bottom:300px; width:100%; text-align:center; font-size:20px;}
		.ghosttext{font-size:15px; line-height:1.8; position:relative; margin:5px 15px;}
		.ghosttext span{font-weight:bold; display:block;}
		#ghostMain .ghosttext:nth-child(2) div{width:100%; height:250px; background:url(../images/gong/emopoint.jpg) no-repeat center; background-size: 100% ;}
		#ghostMain .ghosttext:nth-child(3) div{ width:100%; height:200px; background:url(../images/gong/emocut.jpg) no-repeat center; background-size: 100% auto; display:block;}
		#ghostMain .ghosttext:nth-child(3) div:last-child{ width:100%; height:200px; background:url(../images/gong/emofullcut.jpg) no-repeat center; background-size: 100% auto; display:block;}
		#ghostMain .ghosttext:nth-child(4) div{ width:100%; height:450px; background:url(../images/gong/emoapply.jpg) no-repeat center; background-size: 100% auto; display:block;}
	/*#grooming*/
		
		#level{position:relative; width:90%; height:600px; max-width:800px; left:50%; transform:translate(-50%); }
		#level *{transition: .5s;}
		#level .leveltext{width:91%;  height:90%; position:relative;  background:white; z-index:998; border:10px solid;}
		#level .leveltext div{margin:0; position:absolute; left:0; top:0; width:100%; height:0; opacity:0; background:white; overflow:hidden;}
		#level .leveltext div.on{opacity:1;height:100%; transition:2s;}

		#level .levellist{position:absolute; width:100%; top:0; left:0;}
		#level .levellist p{width:97%; text-align:right; padding:0 15px 0 0; line-height:3; margin-bottom:10px; font-weight:bold;transition:.5s;}
		#level .levellist p:nth-child(1){background:rgb(254,254,151); color:rgb(254,254,151);}
		#level .levellist p:nth-child(2){background:rgb(203,254,151); color:rgb(203,254,151);}
		#level .levellist p:nth-child(3){background:rgb(151,254,151); color:rgb(151,254,151);}
		#level .levellist p.on, #level .levellist p:hover{color:white; width:100%; transition:0.5s;}
		
	/*공동*/
		.contentstit{font-size:25px; font-weight:bold; margin-left:15%; display: block; line-height:1.5;}
		.emptybox{width:100%; height:190px;}
/*공동*/
.close{width:40px; height:40px; position:absolute; right:30px; top:20px; background:url('../images/close.jpg') no-repeat;background-size:40px;}
.font5{font-size:50px;}
.pink{background:pink;}
.right{right:0;}
@media (max-width: 600px){
	#wrap header{height:52px;}
	.section_css{padding-top:52px;}
	#tit{width:230px; height:50px; top:3px; left:50%; transform:translate(-50%);}
	#tit .titicon{width:230px; height:100%; position:absolute; transition:.8s;}
	#tit:hover .titicon:nth-child(1){background:url(../images/title1_pk.jpg)no-repeat center;}
	#tit:hover .titicon:nth-child(2){background:url(../images/title2_pk.jpg)no-repeat center;}
	#tit:hover .titicon:nth-child(3){background:url(../images/title3_pk.jpg)no-repeat center;}
	#tit:hover .titicon:nth-child(4){background:url(../images/title4_pk.jpg)no-repeat center;}
	#tit:hover .titicon:nth-child(5){background:url(../images/title5_pk.jpg)no-repeat center;}
	#tit:hover .titicon:nth-child(6){background:url(../images/title6_pk.jpg)no-repeat center;}
	#tit:hover .titicon:nth-child(7){background:url(../images/title7_pk.jpg)no-repeat center;}
	#tit .titicon:nth-child(n){left:0;top:0;background-position:left top;}
	#tit:hover .titicon:nth-child(n){left:0;top:0;background-size:80%; background-position:left top;}
	#wrap.on #menuzip{display:block;}
	#wrap.on #text{padding-top:100px;}
	#menuzip{width:40px; cursor:pointer; display:none; transition:.5s; height:50px; background:url(../images/menu_zip_gray.jpg) no-repeat center center; background-size:30px; position:absolute; left:0; top:0; }
	#menuzip.on{background:url(../images/close_border_gray.jpg) no-repeat center center; background-size:30px; position:absolute;}
	#container{height:100%; width:100%;  position:relative; margin:0 auto;}
	#container .content{height:200px;margin-top:10px; left:0; width:100%; position:absolute;}
	#container .content h2{font-size:0;}
	#conhomepage{top:0%;}
	#conmy_introduction{top:200px;}
	#congold{top:400px;}
	#container .content .menutit{width:80%; height:150px; position:relative; overflow:hidden;  text-align:center; transition:.6s;}
	#container .content .menutit:hover{transition:.6s;}
	#container .content .menutit p{width:100%; height:100%;min-height:150px;line-height:150px; z-index:11; position:absolute; margin:0 auto; font-size:25px; transition:.5s;}
	#container .content .menutit ul{display:none; border-radius:0; top:0; left:10%; margin:0;  opacity:1; overflow:hidden; position:absolute; transition:.3s;}
	#container .content .menutit ul li{display:block;padding-left:50px; width:0; height:50px; line-height:50px; }
	#container .content .menutit ul li:hover{cursor:pointer; transition:.5s;}
	#container .content .menutit ul li:last-child{border-radius:0;}
	/*메인 화면 메뉴 마우스 오버 효과*/
	#container .content .menutit.on{width:100%; height:100%; margin:0 10%;}
	#container .content .menutit.on p{width:20%;border:0;word-break:break-all;word-break:break-word;padding:21px; line-height:36px; font-size:17px; border-right:3px solid; transition:.3s; border-radius: 30px 0 0 30px;}
	#container .content .menutit.on ul{display:block;}
	#container .content .menutit.on ul li{width:69%;}
	/*메뉴가 네비 바 될 때 css*/
	#container.on{display:none;}
	#container.nav{width:100%;overflow:scroll; height:100%; z-index:500;  position:relative; margin:0 auto;}
	#container.nav #conhomepage{top:0%;}
	#container.nav #conmy_introduction{top:180px;}
	#container.nav #congold{top:360px;}
	#container.nav .content .menutit{width:100%; height:100%; position:relative; margin:0; overflow:hidden;  text-align:center;}
	#container.nav .content .menutit p{width:100%; height:38px;min-height:38px; padding:0; z-index:11; position:absolute; line-height:28px;font-size:25px;}
	#container.nav .content .menutit ul{width:100%; display:block; left:0; border-radius:0 0 30px 30px; height:auto; top:0px;  opacity:1; margin-top:38px; overflow:hidden; position:absolute;}
	#container.nav .content .menutit ul li{width:100%; height:35px; padding:5px 0; margin:6px 0; line-height:24px; }
	#container.nav .content .menutit.on{width:100%; height:100%;margin:0; line-height:70px;}
	#container.nav .content .menutit.on p{height:30px;  line-height:24px; border:0; border-radius:0;}
	#container.nav .content .menutit.on ul{width:100%; top:0; height:auto; opacity:1;}
	/*resume.html*/
	#myProfile{min-width:200px; width:80%;
			position:relative; 
			padding:30px; margin:0 auto;
			border-radius:30px;
			background:pink;
			overflow:hidden;}
	#myProfile .myphoto{width:100%; left:0;}
	#myProfile .profileText{width:100%;
							left:0;top:70%;
							line-height:30px; font-size:12px;}

	.photolist{width:80%;}
	#photoView{width:80%;}
	/*반려동물*/
	.profile{width:90%;}
	#album{width:90%;min-width:200px;}
	#album .photo{width:50%;}
}
